# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Node (por si se agrega npm en el futuro)
node_modules/
npm-debug.log*

# Archivos temporales
*.tmp
*.bak
*.swp
*~

# Logs
*.log